body{
  background-color: #F7CAC9;
   width: auto;
}

.thead-dark{
  background-color: grey;
  color: white;
}

.avacab{
  margin-top: 2%;
  font-family: serif;
}

.table{
  text-align: center;;
}

.btn1, .btn2{
  width: 100%;
  border: 1px solid grey;
}

.btn1:hover{
  background-color: green;
  text-align: center;
  color: white;
}

.btn2:hover{
  background-color: red;
  color: white;
  text-align: center;
}

.head1{
  font-size: 6.5rem;
  text-align: center;
  margin-right: 1%;
}

.head2{
  font-size: 1.5rem;
  text-align: center;
  margin-right: 33%;
}

.sourcerow, .emailrow, .desrow{
  margin: 1% 0% 1% 30%;
}

.last, .top, .mid{
  width: 50%;
}

.btn{
  width: 20%;
  margin-left: 37%;
  margin-top: 2%;
  background-color: white;
  border: 2px solid #73AD21;
}

.btn:hover{
  animation: slow;
  color: white;
  background-color: green;
}

.foot{
  border-radius: 8px;
  width: 100%;
  font-size: 2rem;
  margin: 10% 0 2% 0;
  padding: 2%;
  background-color: grey;
  text-align: center;
  color: white;
  font-family: serif;
}
